<div class="card-calculator-container">
    <h2>Credit calculator</h2>
    <div>
        <label>Cost to you amount:</label>
        <input 
            ng-model="CreditCalculatorCtrl.balanceFee"
            ng-change="CreditCalculatorCtrl.changeBalanceFee()"
            type="number" 
            value={{CreditCalculatorCtrl.balanceFee}}
        >
    </div>
    <div>
        <label>Cost to you in month:</label>
        <input 
            ng-model="CreditCalculatorCtrl.costInMonth"
            ng-change="CreditCalculatorCtrl.changeCostInMonth()"
            type="number" 
            value={{CreditCalculatorCtrl.costInMonth}}
        >
    </div>
</div>