<div class="app-cotainer">
    <card-type-select
        types="AppCtrl.cardTypes"
        selected-type="AppCtrl.cardType"
        on-change="AppCtrl.selectCardType(type)"
    ></card-type-select>
    <credit-calculator
        balance="AppCtrl.balanceFee"
        month="AppCtrl.costInMonth"  
        on-update-month="AppCtrl.setCostInMonth(month)"
        on-update-balance-fee="AppCtrl.setBalanceFee(balance)"
    ></credit-calculator>
    <sort-type-select
        types="AppCtrl.sortTypes"
        selected-type="AppCtrl.sortType"
        on-change="AppCtrl.selectSortType(type)"
    ></sort-type-select>
    <div class="card-list">
        <card-item
            card-list="AppCtrl.cards"
            card-type="AppCtrl.cardType"
            sort-type="AppCtrl.sortType"
        ></card-item>
    </div>
</div>
