<header>
    <a href="#">
        <img src="https://img.cheapair.com/uploads/2016/04/CNNMoney.png" alt="logo">
    </a>
</header>
<div class="app-cotainer">
    <card-type-select
        types="AppCtrl.cardTypes"
        selected-type="AppCtrl.cardType"
        on-change="AppCtrl.selectCardType(type)"
    ></card-type-select>
    <credit-calculator
        balance="AppCtrl.balanceFee"
        month="AppCtrl.costInMonth"  
        on-update-month="AppCtrl.setCostInMonth(month)"
        on-update-balance-fee="AppCtrl.setBalanceFee(balance)"
    ></credit-calculator>
    <sort-type-select
        types="AppCtrl.sortTypes"
        selected-type="AppCtrl.sortType"
        on-change="AppCtrl.selectSortType(type)"
    ></sort-type-select>
    <div class="card-list">
        <card-item ng-repeat="card in AppCtrl.cards | filter: {type: AppCtrl.cardType.value} | orderBy:AppCtrl.sortType.sortField" card="card"></card-item>
    </div>
</div>
