* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(230, 230, 230);
}

header {
    height: 60px;
    background-color: #fff;
    img {
        height: 100%;
    }
}

.app-cotainer {
    width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
}

.card-list {
    margin: 40px 0;
}