<div class="card-list-item">
	<div class="card-item-main" ng-class="{'card-item-main-mobile': CardItemCtrl.isMobile()}">
		<div ng-class="(CardItemCtrl.isMobile()) ? 'card-image-mobile' : 'card-image'">
			<img ng-src="{{CardItemCtrl.card.image}}" alt="{{CardItemCtrl.card.name}}">
		</div>
		<div class="card-item-body">
			<div ng-class="{'card-item-body-tablet': CardItemCtrl.isTablet()}" class="card-item-header">
				<div>
					<h2>
						{{CardItemCtrl.card.name}}
					</h2>
					<p>
						Type: {{CardItemCtrl.card.type}}
					</p>
				</div>
				<div ng-if="CardItemCtrl.isTablet()" class="card-item-links">
						<a class="button" href="#">Go to site</a>
						<a href="#">Full details...</a>
				</div>
			</div>
			<div ng-if="!CardItemCtrl.isMobile()" class="card-item-info">
				<div class="card-info-field" ng-class="{'selected-sort-field': CardItemCtrl.isActualFeeOrder()}" >
					<p>
						{{CardItemCtrl.card.repayments.actualFee.periodPercent}}% period
					</p>
					<p>
						{{CardItemCtrl.card.repayments.actualFee.monthsDuration}} month
					</p>
					<p>
						then {{CardItemCtrl.card.repayments.actualFee.thenPeriod}}%
					</p>
				</div>
				<div class="card-info-field" ng-class="{'selected-sort-field': CardItemCtrl.isBalanceFeeSortOrder()}">
					<h3>
						Balance fee
					</h3>
					<div>
						<p>
							amount: {{CardItemCtrl.card.repayments.balanceFee.amount | currency:"£":0}}
						</p>
						<p>
							month: {{CardItemCtrl.card.repayments.balanceFee.month}}
						</p>
					</div>
				</div>
				<div class="card-info-field" ng-class="{'selected-sort-field': CardItemCtrl.isCostToYouSortOrder()}">
					<h3>
						{{!CardItemCtrl.showPotentialSavings ? 'Cost to you' : 'Potential savings'}}
					</h3>
					<div>
						<p>
							amount: {{!CardItemCtrl.showPotentialSavings ? CardItemCtrl.card.repayments.costToYou.amount : CardItemCtrl.calcSavings() | currency:"£":0}}
						</p>
						<p>
							month: {{CardItemCtrl.card.repayments.costToYou.month}}
						</p>
					</div>    
				</div>
				<div ng-if="CardItemCtrl.isDesktop()" class="card-item-links card-info-field">
					<a class="button" href="#">Go to site</a>
					<a href="#">Full details...</a>
				</div>
			</div>
		</div>
	</div>
	<div ng-if="CardItemCtrl.isMobile()" class="card-item-info-mobile">
		<div class="card-item-links card-info-field">
			<a href="#">Full details...</a>
			<a class="button" href="#">Go to site</a>
		</div>
		<div class="card-info-field" ng-class="{'selected-sort-field': CardItemCtrl.isActualFeeOrder()}">
			<p>
				{{CardItemCtrl.card.repayments.actualFee.periodPercent}}% period
			</p>
			<p>
				{{CardItemCtrl.card.repayments.actualFee.monthsDuration}} month
			</p>
			<p>
				then {{CardItemCtrl.card.repayments.actualFee.thenPeriod}}%
			</p>
		</div>
		<div class="card-info-field" ng-class="{'selected-sort-field': CardItemCtrl.isBalanceFeeSortOrder()}">
			<h3>
				Balance fee
			</h3>
			<p>
				amount: {{CardItemCtrl.card.repayments.balanceFee.amount | currency:"£":0}}
			</p>
			<p>
				month: {{CardItemCtrl.card.repayments.balanceFee.month}}
			</p>
		</div>
		<div class="card-info-field" ng-class="{'selected-sort-field': CardItemCtrl.isCostToYouSortOrder()}">
			<h3>
				{{!CardItemCtrl.showPotentialSavings ? 'Cost to you' : 'Potential savings'}}
			</h3>
			<p>
				amount: {{!CardItemCtrl.showPotentialSavings ? CardItemCtrl.card.repayments.costToYou.amount : CardItemCtrl.calcSavings() | currency:"£":0}}
			</p>
			<p>
				month: {{CardItemCtrl.card.repayments.costToYou.month}}
			</p>    
		</div>
	</div>
	<div class="card-item-footer">
		<p>
			Representative Example: you can spend {{CardItemCtrl.card.representativeExmp.spend | currency:"£":0}} 
			within  {{CardItemCtrl.card.representativeExmp.purchase | currency:"£":0}} purchase
		</p>
	</div>
</div>