.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 24px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #004D81;
    position: relative;
    text-align: center;

    .notification__show-modal-button {
        margin-left: 20px;
        border: 2px solid #004D81;
        color: #004D81;
        padding: 5px 10px;
        font-size: 20px;
        border-radius: 5px;
        text-decoration: none;
    }

    .notification__show-modal-button:hover {
        color: rgb(1, 99, 165);
        border: 2px solid rgb(1, 99, 165);
    }
    
    .notification__close-notification-button {
        position: absolute;
        right: 0px;
        top: -5px;
        transform: rotate(45deg);
        padding: 5px;
        font-size: 30px;
        font-weight: normal;
        text-decoration: none;
        color: #000;
    }
}

