<div class="modal-window-container">
    <h2>Help us calculate how much you could save</h2>
    <div ng-transclude></div>
    <div class="close-button">
        <a ng-click="ModalWindowCtrl.closeModalWindow()" href="#">+</a>
    </div>
    <form class="user-info-form" ng-model="ModalWindowCtrl.userForm" name="userForm" ng-submit="ModalWindowCtrl.onSubmitUserForm()" novalidate>
        <div ng-class="{ 'has-error': userForm.userName.$touched && userForm.userName.$invalid }">
            <label for="userName">Your Name:</label>
            <input type="text" name="userName" placeholder="Your name..." 
                ng-model="ModalWindowCtrl.userName" 
                ng-model-options="{ updateOn: 'blur' }" 
                maxlength="16" 
                minlength="3" 
                ng-pattern="/^[a-z-]+$/i" 
                required >
            <div ng-messages="userForm.userName.$error" class="error-messages-container" ng-if="userForm.userName.$touched">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="minlength">This field can be at least 3 characters long.</div>
                <div ng-message="maxlength">This field can be at most 16 characters long.</div>
                <div ng-message="pattern">This field can contain only letters, from A to Z and "-" symbol.</div>
            </div>
        </div>
        <div ng-class="{ 'has-error': userForm.userAge.$touched && userForm.userAge.$invalid }">
            <label for="userAge">Date of your Birth:</label>
            <input type="text" name="userAge" placeholder="dd/mm/yyyy" 
                ng-model="ModalWindowCtrl.userAge" 
                ng-model-options="{ updateOn: 'blur' }"     
                user-age 
                required >
            <div ng-messages="userForm.userAge.$error" class="error-messages-container" ng-if="userForm.userAge.$touched">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="validDateFormat">Please enter a value in dd/mm/yyyy format.</div>
                <div ng-message="validAge">Please enter your real b-day date.</div>
            </div>
        </div>
        <div ng-class="{ 'has-error': userForm.userAnnualIncome.$touched && userForm.userAnnualIncome.$invalid }">
            <label for="annualIncome">Annual income:</label>
            <div class="annual-income-input">
                <input 
                    type="number" 
                    name="annualIncome" 
                    placeholder="Annual income..."
                    ng-model="ModalWindowCtrl.userAnnualIncome" 
                    ng-model-options="{ updateOn: 'blur' }" 
                    valid-annual-income
                    required >
            </div>
            <div ng-messages="userForm.userAnnualIncome.$error" class="error-messages-container" ng-if="userForm.userAnnualIncome.$touched">
                <div ng-message="required">Please enter a value for this field.</div>
                <div ng-message="onlyNumbersValid">This field can contain only numbers.</div>
                <div ng-message="validValue">Please enter your real annual income.</div>
            </div>
        </div>
        <div class="submit-container">
            <button type="submit">Submit</button>   
        </div>
    </form>
</div>